<menu-aside classActive="alumns"></menu-aside>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 ta-4">
      <div *ngIf="loading" class="d-flex justify-content-center text-info mt-5">
        <div class="spinner-border" role="status"></div>
      </div>

      <div class="inner-adjust" *ngIf="!loading">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Calendario y registro de medicamentos</h1>
          <em
            >En la siguiente pagina se muestra el calendario de
            {{ alumn?.name }} con los dias y horas en los que el alumno ha
            tomado la medicina para mantener a sus padres y otros profesores
            informado sobre esto.</em
          >
        </div>
        <div class="row">
          <div class="col-md-3 mb-5">
            <div
              class="btn calendar-button"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Semana previa
            </div>
            <div
              class="btn calendar-button"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Hoy
            </div>
            <div
              class="btn calendar-button"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"
            >
              Semana próxima
            </div>
          </div>
          <div class="col-md-7 calendar-date">
            <h1 class="h2 text-center">
              {{ viewDate | calendarDate: view + "ViewTitle":"es" }}
            </h1>
          </div>
          <div class="col-md-1 calendar-date">
            <div
              class="btn calendar-add-event"
              (click)="openModal('custom-modal-1', alumn.userId)"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Añadir medicamento
            </div>
          </div>
          <br />
          <div class="col-md-12">
            <mwl-calendar-week-view
              [viewDate]="viewDate"
              [events]="events"
              [excludeDays]="[0, 6]"
              [weekStartsOn]="1"
              [refresh]="refresh"
              [locale]="locale"
              [dayStartHour]="9"
              [dayEndHour]="17"
              (eventClicked)="handleEvent('Clicked', $event.event)"
            >
              >
            </mwl-calendar-week-view>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<jw-modal id="custom-modal-1">
  <h3 class="text-left">Añadir medicamento</h3>
  <div class="col-md-12">
    <form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
      <div class="row mt-3">
        <div class="col-md-6">
          <label>Título</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.title.errors
            }"
          />
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Titulo es requerido</div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-5">
          <label>Fecha y hora de comienzo</label>
          <input
            type="datetime-local"
            formControlName="start"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.start.errors
            }"
          />
          <div *ngIf="submitted && f.start.errors" class="invalid-feedback">
            <div *ngIf="f.start.errors.required">
              Fecha y hora de comienzo es requerido
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <label>Fecha y hora fin</label>
          <input
            type="datetime-local"
            formControlName="end"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.end.errors
            }"
          />
          <div *ngIf="submitted && f.end.errors" class="invalid-feedback">
            <div *ngIf="f.end.errors.required">
              Fecha y hora fin es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-md-4">
          <label
            >Color
            <div
              class="ml-3 rounded-circle mr-1"
              style="
                width: 25px;
                background-color: #95e1d3;
                display: inline-block;
              "
            >
              &nbsp;
            </div>
            <div
              class="rounded-circle mr-1"
              style="
                width: 25px;
                background-color: #fce28a;
                display: inline-block;
              "
            >
              &nbsp;
            </div>
            <div
              class="rounded-circle mr-1"
              style="
                width: 25px;
                background-color: #ff75a0;
                display: inline-block;
              "
            >
              &nbsp;
            </div>
          </label>
          <select
            formControlName="color"
            class="browser-default custom-select"
            [ngClass]="{
              'is-invalid': submitted && f.color.errors
            }"
          >
            <option value="#95e1d3">Verde</option>
            <option value="#fce28a">Amarillo</option>
            <option value="#ff75a0">Rosa</option>
          </select>
        </div>
        <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
          <div *ngIf="f.color.errors.required">Color es requerido</div>
        </div>
        <div class="col-md-9"></div>
      </div>
      <button
        type="submit"
        style="width: 150px"
        class="btn btnPrimary"
        type="submit"
      >
        Añadir medicina
      </button>
    </form>
  </div>
</jw-modal>
